.dashboard-container{
  height: 100vh;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.add-plant-container{
  /* margin: 30px; */
  margin-top: 30px;
  text-align: right;
}

.add-plant-button{
  height: 10%;
  width: 10%;
  font-size: 30px;
  background: #ffa5b1;
  border: none;
  border-radius: 50%;
  color: white;
}

.temp-and-humidity-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center
}

.temp{
  font-family: 'Six Caps', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  width: 50%;
  margin: 20px;
  font-size: 60px;
}
.humidity-container{
  font-family: 'Six Caps', sans-serif;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 500;
  margin: 50px 50px;
}
.humidity{
  width: 50%;
  font-size: 60px;
  text-align: center

}

.moisture-label{
  margin-top: 50px;
  font-family: 'Six Caps', sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
}