.moisture{
  display: flex;
  flex-direction: column;
  /* background: forestgreen; */
  width: 100%;
}

.plant-icon {
  height: 30px;
  width: 30px;
  margin: 2px;
}

.plant-title-container{
  display: flex;
  flex-direction: column;
}

.mapped-plants{
  margin-top: 25px;
  font-size: 30px;
  text-align: center;
  height: 5%;
  width: 100%;
  background-image: linear-gradient(to right, #ffffff8e, #afdfff, #40a9ff);
  /* background-image: linear-gradient(to right, #fda796, #ff9f6d, #ffb468, #ffca68, #ffe06e, #f8ea71, #eff575, #e4ff7d, #cfff7f, #b8ff83, #9fff8a, #82ff92); */
  border: 1px solid black;
  border-radius: 15px;
}

.plant-name{
  margin: 8px 3px;
  font-size: 20px;
}