.moisture{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.one-moisture{
  display: flex;
  width: 100%;
}

.icon-container{
  width: 15%;
}

.plant-title-container{
  width: 85%;
}

.plant-icon {
  margin: 10px auto;
  height: 55px;
  width: 55px;
}

.mapped-plants{
  margin: 10px auto 0 auto;
  font-size: 30px;
  width: 100%;
  background-image: linear-gradient(to right, #ffffff8e, #6fb6e6, #3299ee);
  border: 1px solid black;
  border-radius: 15px;
}

.plant-name{
  margin: 2px 5px;
  font-size: 20px;
}

.one{
  margin-left: 0;
}

.two{
  margin-left: 9%;
}

.three{
  margin-left: 18%;
}

.four{
  margin-left: 27%;
}

.five{
  margin-left: 36%;
}

.six{
  margin-left: 45%;
}

.seven{
  margin-left: 54%;
}

.eight{
  margin-left: 63%;
}

.nine{
  margin-left: 72%;
}

.ten{
  margin-left: 81%;
}

.eleven{
  margin-left: 90%;
}

.bar{
  background-image: url('../../icons/003-drop.png');
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: none;
}

