.moisture{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.one-moisture{
  display: flex;
  width: 100%;
}

.icon-container{
  width: 15%;
}

.plant-title-container{
  width: 85%;
}

.plant-icon {
  margin: 10px auto;
  height: 55px;
  width: 55px;
}

.mapped-plants{
  margin: 10px auto 0 auto;
  font-size: 30px;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to right, #ffffff8e, #afdfff, #40a9ff);
  border: 1px solid black;
  border-radius: 15px;
}

.plant-name{
  margin: 2px 5px;
  font-size: 20px;
}